

    $background: #0e1415;

    $blue: #bec2ff;

    $blue_container: #3e4278;

    $blue_source: #0000ff;

    $blue_value: #0000ff;

    $error: #ffb4ab;

    $error_container: #93000a;

    $green: #95d5a7;

    $green_container: #10512f;

    $green_source: #00ff00;

    $green_value: #00ff00;

    $inverse_on_surface: #2b3232;

    $inverse_primary: #006970;

    $inverse_surface: #dee4e4;

    $on_background: #dee4e4;

    $on_blue: #272b60;

    $on_blue_container: #e0e0ff;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_green: #00391d;

    $on_green_container: #b0f1c2;

    $on_primary: #00363a;

    $on_primary_container: #9df0f8;

    $on_primary_fixed: #002022;

    $on_primary_fixed_variant: #004f54;

    $on_red: #542105;

    $on_red_container: #ffdbcd;

    $on_secondary: #1b3437;

    $on_secondary_container: #cce8ea;

    $on_secondary_fixed: #051f21;

    $on_secondary_fixed_variant: #324b4d;

    $on_surface: #dee4e4;

    $on_surface_variant: #bec8c9;

    $on_tertiary: #21304c;

    $on_tertiary_container: #d7e2ff;

    $on_tertiary_fixed: #0a1b36;

    $on_tertiary_fixed_variant: #384764;

    $outline: #899393;

    $outline_variant: #3f4849;

    $primary: #80d4db;

    $primary_container: #004f54;

    $primary_fixed: #9df0f8;

    $primary_fixed_dim: #80d4db;

    $red: #ffb595;

    $red_container: #713619;

    $red_source: #ff0000;

    $red_value: #ff0000;

    $scrim: #000000;

    $secondary: #b1cbce;

    $secondary_container: #324b4d;

    $secondary_fixed: #cce8ea;

    $secondary_fixed_dim: #b1cbce;

    $shadow: #000000;

    $source_color: #042a2d;

    $surface: #0e1415;

    $surface_bright: #343a3b;

    $surface_container: #1a2121;

    $surface_container_high: #252b2c;

    $surface_container_highest: #303636;

    $surface_container_low: #161d1d;

    $surface_container_lowest: #090f10;

    $surface_dim: #0e1415;

    $surface_tint: #80d4db;

    $surface_variant: #3f4849;

    $tertiary: #b7c7ea;

    $tertiary_container: #384764;

    $tertiary_fixed: #d7e2ff;

    $tertiary_fixed_dim: #b7c7ea;

