

    $background: #0e1514;

    $blue: #bec2ff;

    $blue_container: #3e4278;

    $blue_source: #0000ff;

    $blue_value: #0000ff;

    $error: #ffb4ab;

    $error_container: #93000a;

    $green: #95d5a7;

    $green_container: #10512f;

    $green_source: #00ff00;

    $green_value: #00ff00;

    $inverse_on_surface: #2b3231;

    $inverse_primary: #006a65;

    $inverse_surface: #dde4e2;

    $on_background: #dde4e2;

    $on_blue: #272b60;

    $on_blue_container: #e0e0ff;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_green: #00391d;

    $on_green_container: #b0f1c2;

    $on_primary: #003734;

    $on_primary_container: #9df1eb;

    $on_primary_fixed: #00201e;

    $on_primary_fixed_variant: #00504c;

    $on_red: #542105;

    $on_red_container: #ffdbcd;

    $on_secondary: #1b3533;

    $on_secondary_container: #cce8e5;

    $on_secondary_fixed: #051f1e;

    $on_secondary_fixed_variant: #324b49;

    $on_surface: #dde4e2;

    $on_surface_variant: #bec9c7;

    $on_tertiary: #19324a;

    $on_tertiary_container: #d0e4ff;

    $on_tertiary_fixed: #001d34;

    $on_tertiary_fixed_variant: #304962;

    $outline: #889391;

    $outline_variant: #3f4948;

    $primary: #80d5cf;

    $primary_container: #00504c;

    $primary_fixed: #9df1eb;

    $primary_fixed_dim: #80d5cf;

    $red: #ffb595;

    $red_container: #713619;

    $red_source: #ff0000;

    $red_value: #ff0000;

    $scrim: #000000;

    $secondary: #b0ccc9;

    $secondary_container: #324b49;

    $secondary_fixed: #cce8e5;

    $secondary_fixed_dim: #b0ccc9;

    $shadow: #000000;

    $source_color: #38fef4;

    $surface: #0e1514;

    $surface_bright: #343a3a;

    $surface_container: #1a2120;

    $surface_container_high: #252b2a;

    $surface_container_highest: #2f3635;

    $surface_container_low: #161d1c;

    $surface_container_lowest: #090f0f;

    $surface_dim: #0e1514;

    $surface_tint: #80d5cf;

    $surface_variant: #3f4948;

    $tertiary: #b0c9e7;

    $tertiary_container: #304962;

    $tertiary_fixed: #d0e4ff;

    $tertiary_fixed_dim: #b0c9e7;

