

    $background: #0e1416;

    $blue: #bec2ff;

    $blue_container: #3e4278;

    $blue_source: #0000ff;

    $blue_value: #0000ff;

    $error: #ffb4ab;

    $error_container: #93000a;

    $green: #95d5a7;

    $green_container: #10512f;

    $green_source: #00ff00;

    $green_value: #00ff00;

    $inverse_on_surface: #2b3133;

    $inverse_primary: #006875;

    $inverse_surface: #dee3e5;

    $on_background: #dee3e5;

    $on_blue: #272b60;

    $on_blue_container: #e0e0ff;

    $on_error: #690005;

    $on_error_container: #ffdad6;

    $on_green: #00391d;

    $on_green_container: #b0f1c2;

    $on_primary: #00363d;

    $on_primary_container: #9eeffe;

    $on_primary_fixed: #001f24;

    $on_primary_fixed_variant: #004f58;

    $on_red: #561d26;

    $on_red_container: #ffdadc;

    $on_secondary: #1c3438;

    $on_secondary_container: #cde7ec;

    $on_secondary_fixed: #051f23;

    $on_secondary_fixed_variant: #334b4f;

    $on_surface: #dee3e5;

    $on_surface_variant: #bfc8ca;

    $on_tertiary: #252f4d;

    $on_tertiary_container: #dae2ff;

    $on_tertiary_fixed: #0f1a37;

    $on_tertiary_fixed_variant: #3b4665;

    $outline: #899294;

    $outline_variant: #3f484a;

    $primary: #82d3e1;

    $primary_container: #004f58;

    $primary_fixed: #9eeffe;

    $primary_fixed_dim: #82d3e1;

    $red: #ffb2b9;

    $red_container: #72333b;

    $red_source: #ff0000;

    $red_value: #ff0000;

    $scrim: #000000;

    $secondary: #b1cbd0;

    $secondary_container: #334b4f;

    $secondary_fixed: #cde7ec;

    $secondary_fixed_dim: #b1cbd0;

    $shadow: #000000;

    $source_color: #2c4e54;

    $surface: #0e1416;

    $surface_bright: #343a3b;

    $surface_container: #1b2122;

    $surface_container_high: #252b2c;

    $surface_container_highest: #303637;

    $surface_container_low: #171d1e;

    $surface_container_lowest: #090f10;

    $surface_dim: #0e1416;

    $surface_tint: #82d3e1;

    $surface_variant: #3f484a;

    $tertiary: #bbc6ea;

    $tertiary_container: #3b4665;

    $tertiary_fixed: #dae2ff;

    $tertiary_fixed_dim: #bbc6ea;

